name: Build

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    - cron: "0 2 * * *"

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04] # 为了加快速度，只留 Ubuntu
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: cannectivity
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: cannectivity
          toolchains: arm-zephyr-eabi
          ccache-cache-key: ${{ matrix.os }}

      - name: Build firmware
        working-directory: cannectivity
        shell: bash
        run: |
          west twister -T app -v --inline-logs --integration

      # =========== 关键修改：在这里立刻上传 ===========
      - name: Upload MKS Firmware Immediately
        uses: actions/upload-artifact@v4
        with:
          name: mks_firmware_pack
          # 精准匹配 mks 的 bin 文件
          path: cannectivity/twister-out/mks_canable_v20/**/*.bin
      # ============================================

      # 下面的测试步骤即使把文件夹删了，我们也已经拿到固件了
      - name: Run firmware tests
        working-directory: cannectivity
        shell: bash
        run: |
          west twister -T app -v --inline-logs --platform native_sim/native/64 -j1

      - name: Run tests
        working-directory: cannectivity
        shell: bash
        run: |
          west twister -T tests -v --inline-logs --integration
