name: Build

on:
  workflow_dispatch: # 添加手动触发按钮
  push:
  pull_request:
  schedule:
    - cron: "0 2 * * *"

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: cannectivity
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: cannectivity
          toolchains: arm-zephyr-eabi
          ccache-cache-key: ${{ matrix.os }}

      - name: Build firmware
        working-directory: cannectivity
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T app -v --inline-logs --integration $EXTRA_TWISTER_FLAGS

      - name: Run firmware tests
        working-directory: cannectivity
        if: startsWith(runner.os, 'Linux')
        shell: bash
        run: |
          # Limit to one concurrent instance as the USBIP port is reused between instances
          west twister -T app -v --inline-logs --platform native_sim/native/64 -j1

      - name: Run tests
        working-directory: cannectivity
        shell: bash
        run: |
          if [ "${{ runner.os }}" = "Windows" ]; then
            EXTRA_TWISTER_FLAGS="--short-build-path -O/tmp/twister-out"
          fi
          west twister -T tests -v --inline-logs --integration $EXTRA_TWISTER_FLAGS

      - name: Print ccache stats
        if: runner.os != 'Windows'
        run: |
          ccache -s -vv

      # --- 修正的部分开始 ---
      - name: Upload MKS Firmware
        uses: actions/upload-artifact@v4
        # 只在 Ubuntu 上上传，避免多平台重复上传导致冲突
        if: runner.os == 'Linux'
        with:
          name: mks_canable_firmware
          # 注意：因为 checkout 指定了 path: cannectivity，所以这里要加上 cannectivity/ 前缀
          path: cannectivity/twister-out/mks_canable_v20/**/*.bin
      # --- 修正的部分结束 ---
